/*
	Document   : estilo
	Created on : Sep 12, 2013, 11:06:26 AM
	Author     : rsantos
	Description:
	Purpose of the stylesheet follows.
*/
/*
	TODO customize this sample style
	Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
root {
  display: block; }

body {
  margin: 0;
  padding: 0;
  background: #000; }

canvas {
  display: block;
  margin: 0 auto;
  background: #fff; }
